{% extends "base.html" %}
{% block tables %}
<div class="card shadow mb-4 col-xl-12 col-lg-7">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Master Data</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="c_info" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>IP Adress</th>
                        <th>Identity</th>
                        <th>Serial Number</th>
                        <th>Model</th>
                        <th>Version</th>
                        <th>Time Provisioning</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{item[1]}}</td>
                        <td>{{item[0]}}</td>
                        <td>{{item[2]}}</td>
                        <td>{{item[3]}}</td>
                        <td>{{item[4]}}</td>
                        <td>{{item[5]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}